name: Debug Environment

on:
  push:
    branches: [ main ]
  workflow_dispatch: # Allows you to run it manually from the "Actions" tab

jobs:
  debug-info:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Docker Version
        run: |
          docker --version
          docker buildx version
          docker compose version
